<template>
    <div>
        <body>
        <div id="app">
            <HelloWorld msg="Welcome to Your Vue.js App"/>
        </div>
        </body>
    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue'

    export default {
        name: 'App',
        components: {
            HelloWorld
        }
    }
</script>

<style lang="scss">
    #app {
        color: $primary;
    }
</style>